In [1]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set the executable path and initialize Splinter
from webdriver_manager.chrome import ChromeDriverManager
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/opheliaheard/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

### Visit the NASA Mars News Site

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# Save the browser's html attribute and clean it using BeautifulSoup

news_soup = BeautifulSoup(browser.html, 'html.parser')
news_soup.find('div',class_='content_title').text

"NASA's InSight 'Hears' Peculiar Sounds on Mars"

In [5]:
#scraping the title from div
news_title = news_soup.find('div',class_='content_title').text
news_title

"NASA's InSight 'Hears' Peculiar Sounds on Mars"

In [6]:
#scraping the title from div
news_p = news_soup.find('div',class_='article_teaser_body').text
news_p

'Listen to the marsquakes and other, less-expected sounds that the Mars lander has been detecting.'

### JPL Space Images Featured Image

In [7]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [8]:
# Save the browser's html attribute and clean it using BeautifulSoup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [9]:
#scrape image of mars
imgtag = img_soup.find('img', class_='headerimage')

relative_image_url_scraped_from_site = imgtag['src']

# Use the base url to create an absolute url or "current source"
featured_image_url = f'https://spaceimages-mars.com/{relative_image_url_scraped_from_site}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [10]:
# WHEN USING THE pd.read_html function, WHY DO YOU THINK WE HAD TO GET THE ZERO-th INDEX?
# HINT: Peak around the website below to perhaps understand why...
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
# WRITE YOUR OWN CODE TO CLEAN THIS DATAFRAME; rename column names
new_index_df = df.set_index(0)
new_index_df

                                       1                2
0
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [12]:
header_row = 0

new_index_df.columns = new_index_df.iloc[header_row]

In [13]:
new_index_df

Mars - Earth Comparison             Mars            Earth
0
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [14]:
drop_row1_df = new_index_df.iloc[0: , :]
drop_row1_df

Mars - Earth Comparison             Mars            Earth
0
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
# CONVERT TO HTML :)
# YAY PAND
mars_facts = df.to_html()
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [16]:
hem_url = 'https://marshemispheres.com/'
browser.visit(hem_url)

# Save the browser's html attribute and clean it using BeautifulSoup

hemispheres_soup = BeautifulSoup(browser.html, 'html.parser')
hem_image_path = hemispheres_soup.find('div', class_='collapsible results').find_all('a', class_='itemLink product-item')
hem_image_path

[<a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>,
 <a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>,
 <a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>,
 <a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>]

In [17]:
# capture one hemisphere link
hemisphere = hem_image_path[0]
browser.visit(f"{hem_url}{hemisphere['href']}")

hemisphere_soup = BeautifulSoup(browser.html, 'html.parser')
hemisphere_img_link = f"{hem_url}{hemisphere_soup.find('img', class_='wide-image')['src']}"

hemisphere_soup.find('h2', class_='title').text
# hemisphere_img_link

'Cerberus Hemisphere Enhanced'

In [21]:
hem_image_path[0]

In [18]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Write a for loop to retrieve the image urls and titles for each hemisphere in the url above.
for hemisphere in hem_image_path:
    try:
        browser.visit(f"{hem_url}{hemisphere['href']}")

        hemisphere_soup = BeautifulSoup(browser.html, 'html.parser')
        hemisphere_img_link = f"{hem_url}{hemisphere_soup.find('img', class_='wide-image')['src']}"


        # Store data in a dictionary
        hemisphere_data = {
            'hem_title': hemisphere_soup.find('h2', class_='title').text,
            'hem_img_url': hemisphere_img_link
        }
    
        if hemisphere_data not in hemisphere_image_urls:
            hemisphere_image_urls.append(hemisphere_data)
        
        
    except:
        print("pass")
        
(hemisphere_image_urls)

[{'hem_title': 'Cerberus Hemisphere Enhanced',
  'hem_img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'hem_title': 'Schiaparelli Hemisphere Enhanced',
  'hem_img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'hem_title': 'Syrtis Major Hemisphere Enhanced',
  'hem_img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'hem_title': 'Valles Marineris Hemisphere Enhanced',
  'hem_img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [19]:
# Finally, close the Google Chrome window...
browser.quit()